@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    background-color: #e9e9e9;
    height: 100vh;
}

.font-size{
    font-size: 19px;
    font-weight: 400;
}

.brand-font-size{
    font-size: 40px;
    font-weight: 500;
    margin-right: 3%;
    font-family: "Sofia", sans-serif;
}

#container-inner{
    margin-left: 10%;
    margin-right: 10%;
}

nav{
    box-shadow: 0 0 20px #ccc;
}


nav a{
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: #eae8e8;
    border-radius: 5px;
}

nav a.active{
    background-color: #ece7e7;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

#loginb{
    text-decoration: none;
    background-color: #4070f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    color: #ffffff;
    font-weight: 500;
    text-shadow: black 1px 1px 1px;
    text-align: center;
}

#loginb:hover{
    background-color: #5095fd;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    text-shadow: black 1px 1px 1px;
    text-align: center;
}

#regbtn{
    text-decoration: none;
    background-color: #4070f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    color: #ffffff;
    font-weight: 500;
    text-shadow: black 1px 1px 1px;
    text-align: center;
}

#regbtn:hover{
    background-color: #5095fd;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    text-shadow: black 1px 1px 1px;
    text-align: center;
}

.field-icon{
    width: 30px;
    height: 30px;
}

.drop-ul li a span{
    margin-left: 10px;
}

.btn-dropdown{
    background-color: #ece7e7;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.drop-ul li a{
    margin:auto;
}

.drop-ul li a{
    --bs-dropdown-link-active-bg: #ece7e7;
    --bs-dropdown-link-active-color: #212529;
    --bs-dropdown-link-hover-bg: #eae8e8;
}

.uname-font-size{
    font-size: 19px;
    font-weight: 500;
    color: #212529;
}

.item-font-size{
    font-size: 17px;
    font-weight: 400;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu-left {
    display: none;
    position: absolute;
    right: 100%;
    left: auto;
    top: -7px;
}

@media(max-width: 992px){
    .dropdown-menu .dropdown-submenu-left {
        display: none;
        position: absolute;
        right: 5%;
        left: 5%;
        top: 33px;
    }
}

.dropdown-menu > li:hover > .dropdown-submenu-left {
    display: block;
}

.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container{
    position: relative;
    border-radius: 10px;
    width: 100%;
    max-width: 830px;
    background-color: #ffffff;
    box-shadow: 0 0 25px #ccc;
}

.container-inner2{
    padding: 30px;
}

.page-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}

.page-subtitle2{
    text-align: left;
    font-size: 17px;
    padding-bottom: 13px;
}

.page-subtitle2 span{
    padding-left: 3px;

}

#gitRepo{
    font-size: 18px;
    margin-left: 5px;
    padding: 3px 8px;
}

.btn-text2{
    margin-left: 5px;
}

.copyTokenStyle{
    font-size: 15px;
    background-color: #4070f4;
    text-shadow: black 1px 1px 1px;
}

.copyTokenStyle:hover{
    background-color: #5095fd;
}

.btn-text{
    font-size: 17px;
    font-weight: 600;
    margin-left: 6px;
}