@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    background-color: #e9e9e9;
    height: 100vh;
}

.font-size{
    font-size: 19px;
    font-weight: 400;
}

.brand-font-size{
    font-size: 40px;
    font-weight: 500;
    margin-right: 3%;
    font-family: "Sofia", sans-serif;
}

#container-inner{
    margin-left: 10%;
    margin-right: 10%;
}

nav{
    box-shadow: 0 0 20px #ccc;
}


nav a{
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: #eae8e8;
    border-radius: 5px;
}

nav a.active{
    background-color: #ece7e7;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.loginRegBtn{
    text-decoration: none;
    background-color: #4070f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    color: #ffffff;
    font-weight: 500;
    text-shadow: black 1px 1px 1px;
    text-align: center;
}

.loginRegBtn:hover{
    background-color: #5095fd;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    text-shadow: black 1px 1px 1px;
    text-align: center;
}

.field-icon{
    width: 30px;
    height: 30px;
}

.drop-ul li a span{
    margin-left: 10px;
}

.btn-dropdown{
    background-color: #ece7e7;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.drop-ul li a{
    margin:auto;
}

.drop-ul li a{
    --bs-dropdown-link-active-bg: #ece7e7;
    --bs-dropdown-link-active-color: #212529;
    --bs-dropdown-link-hover-bg: #eae8e8;
}

.uname-font-size{
    font-size: 19px;
    font-weight: 500;
    color: #212529;
}

.item-font-size{
    font-size: 17px;
    font-weight: 400;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu-left {
    display: none;
    position: absolute;
    right: 100%;
    left: auto;
    top: -7px;
}

@media(max-width: 576px){
    .dropdown-menu .dropdown-submenu-left {
        display: none;
        position: absolute;
        right: 5%;
        left: 5%;
        top: 33px;
    }
}

.dropdown-menu > li:hover > .dropdown-submenu-left {
    display: block;
}

.sectionStyle{
    height: 350px;
    margin-top: 95px;
    background-color: #cbc8c8;
}

.sectionTitle{
    margin-bottom: 25px;
}

.sectionSubtitle{
    margin-bottom: 50px;
}

.title-subtitle{
    max-width: 600px;
    padding-top: 70px;
    text-align: center;
}

.title-subtitle a{
    color: #fff; 
    background-color: #4070f4; 
    font-size: 20px; 
    padding: 12px 24px;
    font-weight: 500;
    text-shadow: black 1px 1px 1px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.title-subtitle a:hover{
    background-color: #5095fd;
}

.sectionStyle2{
    min-height: 350px; 
    max-height: 550px;
}

.stripedBackground{
    background-color: #cbc8c8;
}

.paddingSection{
    padding-top: 100px; 
    padding-bottom: 100px;
}